<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- Interface Mapper 이름 -->
<mapper namespace="cafe.jjdev.mall.mapper.MemberOutMapper">
	<delete id="deleteMemberConsumer" parameterType="int">
  		DELETE FROM member_consumer
  		where member_no = #{memberNo}
  	</delete>
	<select id="idCheck2" resultType="String" parameterType="cafe.jjdev.mall.vo.Member">
 		select member_id
		from Member
    	where member_id = #{memberId}
	</select>
	<select id="idCheck" resultType="String" parameterType="cafe.jjdev.mall.vo.Member">
 		select member_id
		from Member_out
    	where member_id = #{memberId}
	</select>
	<insert id="deleteMemberByNo" parameterType="cafe.jjdev.mall.vo.Member">
        INSERT INTO member_out(
             member_id
            , member_date) 
        VALUES(
             #{memberId}
            , now()
        )
    </insert>
</mapper>